Django==1.4
psycopg2==2.4.5
dj-database-url==0.2.0
simplejson==3.0.8
gunicorn==0.16.1


distribute==0.6.34
django-ajax-selects==1.2.4
gdata==2.0.16
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2